/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

:root {
  --black: #000000;
  --dark-green: #03261F;
  --paolo-veronese-green: #0A9F82;
  --caribbean-green: #0DC7A2;
  --platinum: #E8E8E8;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  background: var(--platinum);
}

a {
  color: var(--dark-green);
  text-decoration: none;
}

a:hover {
  color: var(--caribbean-green);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Cookies message
--------------------------------------------------------------*/
.cookieConsentContainer {
  z-index: 999;
  width: 350px;
  min-height: 20px;
  box-sizing: border-box;
  padding: 30px 30px 30px 30px;
  background: #383636;
  overflow: hidden;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none
}

.cookieConsentContainer .cookieTitle a {
  font-family: OpenSans, arial, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 20px;
  display: block
}

.cookieConsentContainer .cookieDesc p {
  margin: 0;
  padding: 0;
  font-family: OpenSans, arial, sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  display: block;
  margin-top: 10px
}

.cookieConsentContainer .cookieDesc a {
  font-family: OpenSans, arial, sans-serif;
  color: #fff;
  text-decoration: underline
}

.cookieConsentContainer .cookieButton a {
  display: inline-block;
  font-family: OpenSans, arial, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-top: 14px;
  background: #000;
  box-sizing: border-box;
  padding: 15px 24px;
  text-align: center;
  transition: background .3s
}

.cookieConsentContainer .cookieButton a:hover {
  cursor: pointer;
  background: #0dc7a2
}

@media (max-width:980px) {
  .cookieConsentContainer {
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--paolo-veronese-green);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: var(--platinum);
  line-height: 0;
}

.back-to-top:hover {
  background: var(--caribbean-green);
  color: var(--platinum);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
Notice Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.9);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: var(--platinum);
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 7px 15px;
  margin-left: 5px;
  font-size: 14px;
  /* color:var(--platinum); */
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  border-radius: 50px;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  background: linear-gradient(90deg, var(--caribbean-green) 0%, var(--paolo-veronese-green) 50%);
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 5px;
  top: calc(100% + 30px);
  margin: 5px 0 0 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: var(--black);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 15px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  color: var(--black);
  margin: 0 5px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--platinum);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: var(--platinum);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(20, 21, 28, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: var(--platinum);
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  margin: 5px;
  font-size: 15px;
  color: #2a2c39;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--platinum);
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: var(--platinum);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: var(--platinum);
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* background: linear-gradient(0deg, var(--dark-green) 0%, var(--caribbean-green) 100%); */
  background-color: var(--black);
  padding: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 70vh;
  padding-top: 60px;
}

#hero h2 {
  color: var(--platinum);
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: var(--platinum);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin-top: 30px;
  color: var(--platinum);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid var(--caribbean-green);
  background-color: var(--caribbean-green);
}

#hero .btn-get-started:hover {
  background: var(--paolo-veronese-green);
  border: 2px solid var(--paolo-veronese-green);
  color: var(--platinum);
  text-decoration: none;
}

#logo-hero {
  height: 80%;
  width: 80%;
  margin-left: 20%;
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px) {
  #hero .carousel-container {
    height: 90vh;
  }

  #hero h2 {
    font-size: 28px;
  }
}

@media (max-width: 991px) {
  #hero {
    padding-top: 50px
  }

  #logo-hero {
    margin-left: 10%;
  }
}

.hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--caribbean-green);
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--caribbean-green);
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--dark-green);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding-top: 80px;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: var(--dark-green);
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Problems
--------------------------------------------------------------*/

.problems .carousel-item h3 {
  font-weight: 600;
  font-size: 26px;
}

#problems .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#problems .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: 150px;
  margin: 0;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

#features .section-title {
  padding-bottom: 0;
}

.features .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: var(--platinum);
  box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
}

.features .icon-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}

.features .icon {
  position: absolute;
  /* left: -20px; */
  top: calc(50% - 30px);
}

.features .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

.features .title {
  margin-left: 100px;
  /* margin-left: 80px; */
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.features .title a {
  color: #2a2c39;
  transition: ease-in-out 0.3s;
}

.features .title a:hover {
  color: var(--dark-green);
}

.features .description {
  font-size: 14px;
  margin-left: 100px;
  line-height: 24px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: var(--dark-green);
  padding: 80px 0;
}

.cta h3 {
  color: var(--platinum);
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: var(--platinum);
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: var(--platinum);
  background: var(--paolo-veronese-green);
}

.cta .cta-btn:hover {
  background: var(--caribbean-green);
  color: var(--pl);
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 280px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid var(--platinum);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: var(--caribbean-green);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--platinum);
  opacity: 1;
  border: 1px solid var(--dark-green);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--dark-green);
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: var(--platinum);
  padding: 60px 0;
}

.team .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.team .owl-item img {
  width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.team .owl-item img:hover {
  opacity: 1;
  filter: none;
}

.team .owl-nav,
.team .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.team .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid var(--dark-green) !important;
}

.team .owl-dot.active {
  background-color: var(--dark-green) !important;
}

/*---------------------------------
# Carousel Images
---------------------------------*/

#pan,
#santander {
  margin-top: 25%
}

#alfa,
#inter {
  margin-top: 30%;
  width: 100%;
}

#cetelem,
#bib,
#bmg {
  margin-top: 35%;
}

#facta {
  margin-top: 40%;
  width: 120%
}

#bradesco {
  width: 90%
}



#bb,
#itau,
#safra {
  width: 80%;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: var(--platinum);
}

.contact .info i {
  font-size: 20px;
  color: var(--dark-green);
  float: left;
  width: 44px;
  height: 44px;
  background: var(--caribbean-green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--dark-green);
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--dark-green);
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--dark-green);
  color: var(--platinum);
}

.contact .php-email-form {
  width: 100%;
  background: var(--platinum);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: var(--platinum);
  background: var(--dark-green);
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: var(--platinum);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: var(--platinum);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 10px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: var(--dark-green);
  border: 0;
  padding: 10px 24px;
  color: var(--platinum);
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: var(--caribbean-green);
}

.alert {
  display: none;
  margin-top: 2%;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--dark-green);
  color: var(--platinum);
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: var(--platinum);
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--paolo-veronese-green);
  color: var(--platinum);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: var(--caribbean-green);
  color: var(--platinum);
  text-decoration: none;
}

#footer .terms {
  margin: 0 0 5px 0;
}

#footer a {
  color: var(--platinum);
}

#footer a:hover {
  color: var(--caribbean-green)
}

/* modificacoes */

#modify {
  margin: 8% 0 3% 0;
}

#botao {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: var(--dark-green);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid var(--dark-green);
}

#botao:hover {
  background: var(--dark-green);
  color: var(--platinum);
  text-decoration: none;
}

.hero-sec {
  color: var(--platinum);
}

.testimonial-item {
  display: flex;
  flex-direction: column;
}


/* mods */
section+#problems {
  padding-bottom: 0;

}

section+#features {
  padding-top: 0;
}

@media (min-width: 1200px) {
  .testimonial-item h3 {
    min-height: 10px;
  }
}


.testimonial-item p {
  min-height: 200px;
}

#store-buttons {
  margin-top: 2%;
}

#android-button {
  width: 220px;
  display: flex;
}

#apple-button {
  width: 220px;
}

#android-button img {
  width: 220px;
  align-self: center;
}

#apple-button img {
  width: 196px;
  margin-top: 5px;
}

#apple-button::after {
  color: white;
  margin-left: 55px;
  font-family: "Open Sans", sans-serif;
  display: block;
  margin-top: 15px;
}


@media (max-width: 991px) {
  #android-button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  #apple-button {
    justify-content: center;
    margin: 0 auto;
  }



  #store-buttons {
    margin-bottom: 30px;
  }

  .carousel-item {
    height: 250px;
  }


  #problems .carousel-control-next-icon,
  #hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: 150px;
    margin: 0;
  }
}

.features-icon {
  width: 80px;
}

/* sugestao */
/* 
  .testimonials  .testimonial-item {
    flex-direction:column;
    align-self: center;
    
    }
    .testimonial-item p{
      min-height: 200px;
    }
    .testimonial-item h3{
      min-height: 20px;
    }
  } */
.carousel-item {
  width: 90%;
  padding-left: 12%;
  min-height: 200px;
}

.btn-carousel {
  color: black;
}